:root 
{
    --color-text-1: hsl(238, 29%, 16%);
    --color-text-2: hsl(14, 88%, 65%);

    --color-gradient-1: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));

    --color-neutral-1: hsl(237, 12%, 33%);
    --color-neutral-2: hsl(240, 6%, 50%);

    --color-divider: hsl(240, 5%, 91%);

    --font-main: 'Kumbh Sans', sans-serif;
}

body * 
{
    margin: 0;
    box-sizing: border-box;
}


.only-desktop
{
    display: none;
}


h1 
{
    font-size: 2rem;
}


body 
{
    font-size: 12px;
    background: var(--color-gradient-1);
    height: 100vh;
    font-family: var(--font-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text-1);
    line-height: 1.5em;
}



.accordion-card 
{
    display: flex;
    flex-direction: column;
    align-items: center;

    background: white;
    border-radius: 2em;
    box-shadow: 0 30px 30px 20px rgba(0, 0, 0, 20%);

    position: relative;

    padding-bottom: 1.5em;

    background-image: url("../images/bg-pattern-mobile.svg");
    background-position: top;
    background-repeat: no-repeat;

    max-width: 920px;
    width: 91%;
    margin-top: 120px;
}


.img-woman-mobile 
{
    position: relative;
    top: -110px;
    left: -15px;
}


.faq-title 
{
    text-align: center;
}

.faq 
{
    margin-top: -60px;
    
    width: 100%;

}


.accordion 
{
    padding: 7%;
}


.accordion-option 
{
    color: var(--color-neutral-2);
    padding: 1.3em 0;
    border-bottom: 1px solid var(--color-divider);
    cursor: pointer;
}


.accordion-question 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-title
{
    font-weight: 400;
    font-size: 0.8rem;
} 

.accordion-answer 
{
    display:none;
    margin-top: 1em;
    line-height: 1.5em;
}

.accordion-option.active .accordion-answer
{
    display: block;
}

.accordion-option.active .accordion-title 
{
    font-weight: 700;
    color: var(--color-text-1);
}


.accordion-option:hover .accordion-title 
{
    color:var(--color-text-2);
}



@media (min-width:600px)
{
    .only-desktop
    {
        display: initial;
    }

    .only-mobile{
        display: none;
    }

    body 
    {
        justify-content: center;
    }


    .accordion-card 
    {
        flex-direction: row;

        background-image: url('../images/illustration-woman-online-desktop.svg'), url('../images/bg-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-position: calc(0% - 80px) 50%, calc(0% - 575px) calc(50% - 70px);
        padding: 7em 5em;
    }

    .img-box 
    {
        position: absolute;
        left: -100px;
        top: calc(50% - 40px);

    }

    .img-woman-desktop
    {
        position: relative;
        left: -85px;
    }


    .faq 
    {
        margin-top: 0;
        margin-left: 50%;
    }

    .faq-title 
    {
        text-align: left;
        margin-bottom: 1em;
    }


    .accordion
    {
        padding: 0;
    }

    .accordion-option 
    {
        padding: 1.5em 0;
    }

    .accordion-title 
    {
        font-size: 0.9rem;
    }
}


